<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Blog_Extend>
            <version>0.0.1</version>
        </Blog_Extend>
    </modules>
    <global>
        <blocks>
            <extend>
                <class>Blog_Extend_Block</class>
            </extend>
        </blocks>
        <helpers>
            <extend>
                <class>Blog_Extend_Helper</class>
            </extend>
        </helpers>
        <models>
            <blog_extend>
                <class>Blog_Extend_Model</class>
                <resourceModel>blog_extend_resource</resourceModel>
            </blog_extend>
            <blog_extend_resource>
                <class>Blog_Extend_Model_Resource</class>
                <entities>
                    <user>
                        <table>blog_extend_users</table>
                    </user>
                </entities>
            </blog_extend_resource>
        </models>
        <resources>
            <extend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extend_write>
            <extend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extend_read>
            <extend_setup>
                <setup>
                    <module>Blog_Extend</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extend_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <extend>
                <use>standard</use>
                <args>
                    <module>Blog_Extend</module>
                    <frontName>blog</frontName>
                </args>
            </extend>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </frontend>
</config>