<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Phuong_Blog>
            <version>0.0.1</version>
        </Phuong_Blog>
    </modules>
    <global>
        <blocks>
            <blog>
                <class>Phuong_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Phuong_Blog_Helper</class>
            </blog>
        </helpers>
        <models>
            <Phuong_Blog>Phuong_Blog_Model</Phuong_Blog>
            <blog>
                <class>Phuong_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Phuong_Blog_Model_Resource</class>
                <entities>
                    <users>
                        <table>users</table>
                    </users>
                    <posts>
                        <table>posts</table>
                    </posts>
                </entities>
            </blog_resource>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Phuong_Blog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blog before="Mage_Adminhtml">Phuong_Blog_Adminhtml</blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Phuong_Blog</module>
                    <frontName>phuongblog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Phuong_Blog>
                    <files>
                        <default>Phuong_Blog.csv</default>
                    </files>
                </Phuong_Blog>
            </modules>
        </translate>
    </frontend>
</config>